<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>partName</key>
		<string>手臂</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>二头</string>
				<key>value</key>
				<string>4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三头</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>胸部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>夹胸</string>
				<key>value</key>
				<string>5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>坐推</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>背部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>正手拉</string>
				<key>value</key>
				<string>5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>反手拉</string>
				<key>value</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>肩部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>上推</string>
				<key>value</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>侧推</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>腿部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>深蹲</string>
				<key>value</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蹬腿</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>腹部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>转体</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>partName</key>
		<string>腰部</string>
		<key>partList</key>
		<array>
			<dict>
				<key>name</key>
				<string>后躺</string>
				<key>value</key>
				<string>8</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
