<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>menuId</key>
		<string>weather</string>
		<key>menuName</key>
		<string>天气</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>news</string>
		<key>menuName</key>
		<string>新闻</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>joke</string>
		<key>menuName</key>
		<string>笑话</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>movie</string>
		<key>menuName</key>
		<string>影视</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>book</string>
		<key>menuName</key>
		<string>书籍</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>travel</string>
		<key>menuName</key>
		<string>旅游</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>video</string>
		<key>menuName</key>
		<string>视频</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>food</string>
		<key>menuName</key>
		<string>美食</string>
		<key>menuIcon</key>
		<string>menuIcon</string>
	</dict>
</array>
</plist>
